/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.app-logo{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 10em;
    background: transparent;
}



body{
    font-family: 'Roboto', sans-serif;
}

*:focus{
    outline:none
}

.form{

    background-color: transparent;
    width: 30%;
    padding: 2em;
    margin: auto;
    margin-top: 10%;
    border-radius: 1em;
    border: 0.2em solid #533EE9;
}

input[type=submit] {
    width: 100%;
    background-color: #F73759;
    color: white;
    padding: 10px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-weight: bold;
    max-width: 15em;
  }

.wines-link{
    position: absolute;
    top: 1.5em;
    font-weight: 100;
    font-size: 1em;
    padding: 1.7em 1.5em;
    background-color: #533EE9;
    border-radius: 1em;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}.wines-link:hover{
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#wines-page-link{
    right: 8em;
}

#cart-link{
    right: 14.5em;
}

#logout{
    right: 1.5em;
    background-color: #F73759;
}


