// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// login page CSS
*{
    font-family: sans-serif;
}
*:focus{
    outline:none
}

.app-logo{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 10em;
    background-color: #fff;
}

.form{

    background-color: transparent;
    width: 30%;
    padding: 2em;
    margin: auto;
    margin-top: 10%;
    border-radius: 1em;
    border: 0.2em solid #533EE9;
}

.regular-input {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: .5em;
	display: inline-block;
    position: relative;
    width: 100%;
    font-weight: lighter;
}

.regular-checkbox{
    background-color: blue;
}



.checkbox-group{
    padding:0 1em;
    margin: .1em;
    border-radius: .3em;
    border: 0.2em solid #533EE9;
    display: inline-block;
}


  input[type=submit] {
    width: 100%;
    background-color: #F73759;
    color: white;
    padding: 10px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-weight: bold;
  }

.create-account-link{
    text-decoration: none;
    color: #533EE9;
    text-align: center;
    font-size: 0.9em;
}

// login page CSS ends


// index page styling



// end of indes page styling