// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-link{
    width: 100%;
}


#profile-link{
    right: 24.5em;
}

.wine-properties{
    border: 1px solid #D4D4D5;
    border-radius: 5px;
    display: inline-block;
    padding: 1em;
    margin: .1em;
    font-weight: bold;
    color: black;
}

#ui-grid{
    margin-left: 2em;
    margin-top: 10em;
}

#tall-sample-wine-image {
    height: 300px;
    margin-top: -2em;
    margin-left: -15em;
    position: absolute;
}

#checkout-container {
}

#price-container{
    font-size: 2em;
    padding-bottom: 10px;
}

#show-page-container{
    margin-top: 10em;
    margin-left: 15em;
}

#showpage-info{
    border-radius: 1em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#showpage-review-container{
    margin-top: 10em;
}

.review-heading {
    font-size: 5em;
    margin-top: 2.5em;
    letter-spacing: 2px;
}

.review-separator {
    width: 90%;
    height: 2px;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 2em;
    position: absolute;
    background-color: #ccc;
}

#review-card {
    margin-top: 5em;
    margin-left: 3em;
}


// animations

.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: .1s;
            animation-timing-function: ease-in-out;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 100%;
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 100%;
    }
  }

  
  